@font-face {
    font-family: 'sspro';
    src: url("fonts/ssp/SourceSansPro-Regular.ttf")
  }

@font-face {
    font-family: 'julee';
    src: url("fonts/Julee-Regular.ttf")
}

  
@font-face {
    font-family: 'kotta';
    src: url("fonts/KottaOne-Regular.ttf")
}

body {
    font-family: "sspro" !important;
    display: flex !important;
    flex-direction: column;
}

header{
    background-color:rgba(93, 3, 3, 0.797);
    color: white;
    flex: 1;
}

.title {
    font-family: julee !important;
    font-size: 4em;
}

h3 {
    font-family: kotta !important;
}

main {
    background-color: rgb(247, 211, 158);
    flex: 2;
    align-items: center;
}

#searchbar {
    margin: 5em;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.front_page {
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-evenly;
    margin: 5vw;
}

span {
    flex: 1 1 auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

footer {
    background-color:rgba(93, 3, 3, 0.797);
    color: white;
    flex: 1;
    display: flex;
}

#gith {
    flex:1000;
}

#return {
    flex:1;
}
